<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>  Free Bootstrap NGO or Donation Template – DonateWay | Long by TheDesignStart.com | Live Demo  </title>
  {% load static %}
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet"  href="{% static 'BOOT/css/bootstrap.min.css' %}" />
   <!-- Animation CSS -->
  <link rel="stylesheet"  href="{% static 'aos/aos.css' %}" />
  <!-- Google Font  -->
  <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
  <!-- Custom CSS -->
  <link  rel="stylesheet"  href="{% static 'style.css' %}"/>

 
<body>
  <div id="nav">
    <ul class="list-unstyled">
      <li><a href="#home">  Home</a></li>
      <li><a href="#history">  History</a></li>
      <li><a href="#works">  Works</a></li>
      <li><a href="#team">  Team</a></li>
      <li><a href="#contact">  Contact</a></li>
    </ul>
  </div>
  <header id="home">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto text-center" data-aos="fade-up">
            <div class="logo">Donate <span class="logo-white">Way </span> </div>
            <span class="big-head">Want To help Childs ?</span>
            <br/>
            <p class="inner-text">
              Etiam cursus quam at quam feugiat laoreet. Interdum et malesuada fames ac ante faucibus.
            </p>
            <br>
            <button type="submit" class="donate-btn">DONATE HERE</button>

          </div>
        
        </div>
      </div>
    </div>

  </header>
  
  <section class="history-set"  id="history" >
      <div class="container">
        <div class="row">
          <div class="col-md-6" data-aos="fade-up">
            <h2 class="heading"> Brief History : Quisque at nisl</h3>
            <p>
              Praesent et mauris efficitur, vestibulum nunc id, feugiat ipsum. In viverra enim augue, nec condimentum urna porta.
              <br/>
               Quisque imperdiet at nisl quis blandit. Praesent et mauris efficitur, vestibulum nunc id, feugiat ipsum.
              <br/> <br/>
               Quisque imperdiet at nisl quis blandit. Praesent et mauris efficitur, vestibulum nunc id, feugiat ipsum. In viverra enim augue, nec condimentum urna porta a. Quisque imperdiet at nisl quis blandit.
            </p>
          </div>
          <div class="col-md-6" data-aos="fade-up">
            <img src="{% static 'images/kid.jpg' %}" class="img-fluid border-img img-thumbnail" alt="">
          </div>
        </div>
      </div>
  </section>

  <section  id="works">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="heading"> Our Works </h2>
          </div>
        </div>
        <div class="row">
  
          <div class="col-md-4 text-center" data-aos="fade-up">
            <div class="card" >
              <img class="card-img-top" src="{% static 'images/a1.jpg' %}" alt="">
              <div class="card-body">
                <h5 class="card-title">Free Teaching</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
        
        <div class="col-md-4 text-center" data-aos="fade-up">
          <div class="card" >
            <img class="card-img-top" src="{% static 'images/a2.jpg' %}" alt="">
            <div class="card-body">
              <h5 class="card-title">Zero Cost Technology </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
      <div class="col-md-4 text-center" data-aos="fade-up">
        <div class="card" >
          <img class="card-img-top" src="{% static 'images/a3.jpg' %}" alt="">
          <div class="card-body">
            <h5 class="card-title">Provide Education Kits</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div>
      </div>
      <div class="row">
        
        <div class="col-md-6 set-pad-video-sec" data-aos="fade-up">
        
          <h2 class="heading">Quisque imperdiet at nisl</h2>
          <p>
            Praesent et mauris efficitur, vestibulum nunc id, feugiat ipsum. In viverra enim augue, nec condimentum urna porta. Quisque imperdiet at nisl quis blandit. Praesent et mauris efficitur, vestibulum nunc id, feugiat ipsum. In viverra enim augue, nec condimentum
            urna porta.
          </p>
        </div>
        <div class="col-md-6 set-pad-video-sec" data-aos="fade-up">
          <div class="ratio ratio-16x9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/132408379/"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-center stats-section">
    <div class="container">
      <div class="row">
        <div class="col-md-3" data-aos="fade-up">
          <h1>3000+</h1>
          <h4>Billion USD Donated</h4>
        </div>
        <div class="col-md-3" data-aos="fade-up">
          <h1>200+</h1>
          <h4>Workforce worldwide</h4>
        </div>
        <div class="col-md-3" data-aos="fade-up">
          <h1>5+</h1>
          <h4>Global Offices</h4>
        </div>
        <div class="col-md-3" data-aos="fade-up">
          <h1>900+</h1>
          <h4>NGOs Associated</h4>
        </div>
      </div>
    </div>
  </section>

  <section id="team" >
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="heading"> Core Team </p>
          </div>
        </div>
        <div class="row">
  
          <div class="col-md-4 text-center" data-aos="zoom-in">
            <div class="card" >
              <img class="card-img-top" src="{% static 'images/t1.jpg' %}" alt="">
              <div class="card-body">
                <h5 class="card-title">Andrew Jhon</h5>
                <p class="card-text">The bulk of the card's content</p>
              </div>
            </div>
        </div>
        
        <div class="col-md-4 text-center" data-aos="zoom-in">
          <div class="card" >
            <img class="card-img-top" src="{% static 'images/t2.jpg' %}" alt="">
            <div class="card-body">
              <h5 class="card-title">Slena Dewa Sui</h5>
              <p class="card-text">The bulk of the card's content</p>
            </div>
          </div>
      </div>
      <div class="col-md-4 text-center" data-aos="zoom-in">
        <div class="card" >
          <img class="card-img-top" src="{% static 'images/t3.jpg' %}" alt="">
          <div class="card-body">
            <h5 class="card-title">Jhon Deo Sirk</h5>
            <p class="card-text">The bulk of the card's content</p>
          </div>
        </div>
    </div>
      </div>
      
    </div>
  </section>
  
  <section class="text-center contact" id="contact"  >
      <div class="container">
      <div class="row text-center">
        <div class="col-md-4"  data-aos="fade-up">
          <h1>USA</h1>
          <br />
          <h4>456/890 , Lanne Street</h4>

          <h4>Email: info@youdomain.com</h4>
          <h4>Call: +18-99-568-00</h4>
        </div>
        <div class="col-md-4"  data-aos="fade-up">
          <h1>Russia</h1>
          <br />
          <h4>456/890 , Lanne Street</h4>

          <h4>Email: info@youdomain.com</h4>
          <h4>Call: +10-99-568-00</h4>
        </div>
        <div class="col-md-4"  data-aos="fade-up">
          <h1>UK</h1>
          <br />
          <h4>456/890 , Lanne Street</h4>

          <h4>Email: info@youdomain.com</h4>
          <h4>Call: +1-99-568-00</h4>
        </div>
      </div>
      
     </div>
  </section>

  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 "  data-aos="fade-up">
          <h2 class="heading" style="padding-bottom:5px;">Supported by</h2>
            <p>
              Etiam cursus quam at quam feugiat laoreet.
            </p>
        </div>
        <div class="col-md-4 "  data-aos="fade-up">
          <img src="{% static 'images/google.png' %}"  class="img-fliud" alt="">
        </div>

      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto"  data-aos="fade-up">
          <h3>General Information</h3>
          <br />
          <p>
            Praesent rutrum sodales leo et tempus. Praesent lacinia nibh eu nibh finibus, sed imperdiet felis rutrum. Morbi augue quam, tincidunt sit amet ornare non, faucibus vel diam. Cras vestibulum euismod gravida. Sed condimentum eros eros, ut dictum metus feugiat
            et. Morbi malesuada diam ut elit mollis mollis.
          </p>
          <br />
          <br />
              <h6>© All Rights Reserved |
          <a target="=_blank" href="https://thedesignstart.com/" style="color:#9E9E9E;text-decoration:none;font-size:14px;">Designed by : TheDesignStart.com</a>
       </h6>

        </div>
      </div>
    </div>
  </footer>
  <!-- CORE JQUERY -->
  <script type="text/javascript" src="{% static 'JS/jquery-1.11.1.js' %}"></script>
  <script type="text/javascript" src="{% static 'aos/aos.js' %}"></script>
  <!-- JQUERY FOR SCROLL -->
  <script type="text/javascript" src="{% static 'JS/jquery.smooth-scroll.min.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('a').smoothScroll({
        speed: 5
      });
    });
    AOS.init({
  duration: 1000 // values from 0 to 3000, with step 50ms
});
  </script>
</body>

</html>
