{%extends 'admin_temp/Admin_index.html'%}
{%load static%}
{%block content%}

<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
              <h3 class="font-weight-bold">Notifications</h3>
              
            </div>
         
          </div>
        </div>
      </div>
   
          <div class="row">
            <div class="col-md-4 mb-4 stretch-card transparent">
                <a href="{% url 'Admin_Notification_des_Card' %}" class="text-decoration-none text-white">
              <div class="card" style="background-color:rgb(27, 183, 227)">
                <div class="card-body">
                  <h4 class="my-3">View Messages</h4>
                  <p class="fs-30 mb-4"></p>
                  
                </div>
            </a>
              </div>
            </div>
            <div class="col-md-4 mb-4 stretch-card transparent">
              <div class="card " style="background-color: rgb(218, 53, 78);">
                <a href="{% url 'Admin_nofification' %}" class="text-decoration-none text-white">
                <div class="card-body">
                  <h4 class="my-3">View Requests</h4>
                  <p class="fs-30 mb-4">{{count2}}</p> 
                 
                </div>
           </a>
              </div>
            </div>
          </div>
          
  


{% endblock %}