<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Charity &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">

	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Superfish -->
	<link rel="stylesheet" href="{% static 'css/superfish.css' %}">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/styletwo.css' %}">
	

	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->


	

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<div class="header-top">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 col-sm-6 text-right fh5co-social">
						<a href="#" class="grow"><i class="icon-facebook2"></i></a>
						<a href="#" class="grow"><i class="icon-twitter2"></i></a>
						<a href="#" class="grow"><i class="icon-instagram2"></i></a>
					</div>
				</div>
			</div>
		</div>
		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h2 id="fh5co-logo"><a href="{% url 'Donar_index' %}" >Charity</a></h2>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="active">
								<a href="{% url 'Donar_index' %}">Home</a>
							</li>
						
							<li>
								<!-- <a href="" class="fh5co-sub-ddown">Donate</a> -->
								
							</li>
							<li><a href="{% url 'Donar_donation_det' %}">Donations</a></li>
							<li><a href="{% url 'Doner_req_det' %}">Request</a></li>
							<li><a href="{% url 'Doner_admin_message' %}">Messages</a></li>
							<li><a href="{% url 'Donar_logout' %}">Logout</a></li>
							<li><a href="{% url 'Doner_Accsetting' %}">Account Settings</a></li>
						</ul>
					</nav>
				</div>
				<center><h2 id="fh5co-logo"><a href="index.html">{{adm.firstname}}</a></h2></center>
			</div>
			
		</header>
		
    </div>
    </div>
	
  
		
		
		
		

	

      <form class="form-detail" action="{% url 'Donar_donation_registration' %}" method="post">
				{% csrf_token %}
      <div class="banner">
        <h1>Donation Form</h1>
      </div>
      <br/>
      <fieldset>
        <legend>Donation Form</legend>
        <div class="colums">
          <div class="item">
            <label for="fname">First Name<span>*</span></label>
            <input id="fname" type="text" name="fname" required />
          </div>
          <div class="item">
            <label for="lname"> Last Name<span>*</span></label>
            <input id="lname" type="text" name="lname" required/>
          </div>
          <div class="item">
            <label for="address">Email Address<span>*</span></label>
            <input id="address" type="text"   name="email" required />
          </div>
          <div class="item">
            <label for="phone">Phone Number</label>
            <input id="phone" type="tel"   name="mobile" required/>
          </div>
          <div class="item">
            <label for="saddress">Street Address</label>
            <input id="saddress" type="text"   name="address1" required/>
          </div>
          <div class="item">
            <label for="city">City</label>
            <input id="city" type="text"   name="address2" required/>
          </div>
          <div class="item">
            <label for="zip">Zip/Postal Code</label>
            <input id="zip" type="text"   name="pincode" required />
          </div>
          <div class="item">
            <label for="country">Country</label>
            <input id="country" type="text"   name="country" required/>
          </div>
      </fieldset>
      <br/>
      <fieldset>
      <legend>Donation Details</legend>
      <div class="colums">
      </div>
      <div class="checkbox">
      <p>May we thank you publicly?</p>
      <label><input type="checkbox"/>No, please keep my information anonymous
      </label>
      </div>
      <div class="item">
      <label for="amount">Donation Amount<span>*</span></label>
      <input id="amount" type="number"   name="pay" required/>
      </div>
      <div class="item">
      <label for="donation">Donation Comments</label>
      <textarea id="donation"  name="msg" rows="3" required></textarea>
      </div>
      </fieldset>
      <div class="btn-block">
      <button type="submit">Confirm Order</button>
      </div>

        
    </form>
    </div>
  </body>
</html>