{%extends 'admin_temp/Ngo_index.html'%}
{%load static%}
{%block content%}





<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Messages</h4>


                    <input type="text" class="form-control mb-2" id="myInput" onkeyup="myFunction()"
                        placeholder="Search for Dates.." title="Type in a name"><br>

                    <div class="table-responsive ">
                        <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Date</th>
                                    <th>Message</th>
                                    <th>Replay</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">


                                {% for i in cs%}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{i.date|date:"d-m-Y"}}</td>


                                    <td>{{i.message}}</td>
                                    <td>

                                        {% if i.replay == "pending" %}
                                        <button type="button" class=" btn btn-primary" data-toggle="modal"
                                            data-target="#myModal{{i.id}}">
                                            Replay

                                        </button>
                                        {% else %}
                                        <button type="button" class=" btn btn-success" data-toggle="modal"
                                        data-target="#myModalt{{i.id}}">
                                            Replayed

                                        </button>
                                    </td>
                                    {% endif %}
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% for i in cs %}
        <div class="modal fade" id="myModal{{i.id}}" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" style="background-color: wheat;">
                    <div class="modal-header">
                        <button type="button" class="close" style="color: rgb(13, 13, 13);"
                            data-dismiss="modal">&times;</button>

                    </div>
                    <h4 style="margin-left: 140px;" class="modal-title"> Replay To Admin</h4>
                    <!-- Modal body -->
                    <div class="modal-body" style="background-color: wheat;">
                        <form action="{% url 'Ngo_admin_messages_replay' i.id %}" method="post"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card" style="background-color: wheat;">
                                <div class="card-body">
                                    <div class="row p-2">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                                            <textarea
                                                class="col-12 col-sm-12 col-md-12 col-lg-12 form-control  text-light"
                                                style="height: 200px; background-color: #413434; " name="rep"
                                                rows="4"> </textarea>
                                        </div>
                                    </div>
                                    <br>
                                    <div
                                        class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center pb-3">
                                        <button type="submit" class="btn btn-primary btn-icon-text ">

                                            Send
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>

            </div>
        </div>

        {% endfor %}


        {% for i in cs %}
        <div class="modal fade" id="myModalt{{i.id}}" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" style="background-color: wheat;">
                    <div class="modal-header">
                        <button type="button" class="close" style="color: rgb(13, 13, 13);"
                            data-dismiss="modal">&times;</button>

                    </div>
                    <h4 style="margin-left: 210px;" class="modal-title"> Replay</h4>
                    <!-- Modal body -->
                    <div class="modal-body" style="background-color: wheat;">
                        <form action="{% url 'Ngo_admin_messages_replay' i.id %}" method="post"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card" style="background-color: wheat;">
                                <div class="card-body">
                                    <div class="row p-2">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                                            <textarea
                                                class="col-12 col-sm-12 col-md-12 col-lg-12 form-control  text-light"
                                                style="height: 200px; background-color: #413434; " name="rep"
                                                rows="4"> {{i.replay}}</textarea>
                                        </div>
                                    </div>
                                    <br>
                                    <!-- <div
                                        class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center pb-3">
                                        <button type="submit" class="btn btn-primary btn-icon-text ">

                                            Send
                                        </button>
                                    </div> -->
                                </div>
                            </div>

                        </form>

                    </div>

                </div>

            </div>
        </div>

        {% endfor %}




        <script>
            function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[1];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>
        <script>
            $(document).ready(function () {
                $('table tr').click(function () {
                    window.location = $(this).data('href');
                    return false;
                });
            });
        </script>




        {% endblock %}