{%extends 'admin_temp/Ngo_index.html'%}
{%load static%}
{%block content%}





<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Requests</h4>


                    <input type="text" class="form-control mb-2" id="myInput" onkeyup="myFunction()"
                        placeholder="Search for names.." title="Type in a name"><br>

                    <div class="table-responsive">
                        <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Contact</th>
                                    <th>Country</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">


                                {% for i in cs %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{i.firstname}}</td>
                                    <td>{{i.email}}</td>
                                    <td>{{i.mobile}}</td>
                                    <td>{{i.country}}</td>
                                    <td>{{i.payment}}</td>
                                    

                                        <td>
                                        {% if i.status == "pending" %}
                                        <a href="{% url 'Ngo_approve' i.id %}">
                                            <button type="submit" class="btn btn-sm btn-success btn-icon-text">
                                                Approve
                                            </button>
                                        </a>
                    <td>
                        <a href="{% url 'Ngo_reject' i.id %}">
                            <button type="submit" class="btn btn-sm btn-danger btn-icon-text">
                                Reject
                            </button>
                        </a>
    
    
                    </td>

                    {% elif i.status == "approved" %}
                    <button type="submit" class="btn btn-sm btn-success btn-icon-text">
                        {{i.status}}
                    </button>

                    {% else %}
                    <button type="submit" class="btn btn-sm btn-danger btn-icon-text">
                        {{i.status}}
                    </button>
                    </td>

                    {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('table tr').click(function () {
                window.location = $(this).data('href');
                return false;
            });
        });
    </script>




    {% endblock %}